<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
    <thead>
    </thead>
    <tbody>
    <tr>
        <td class="mdl-data-table__cell--non-numeric">First Name</td>
        <td class="mdl-data-table__cell--non-numeric">
            <input type="text"
                   [(ngModel)]="user.firstName">
        </td>
    </tr>
    <tr>
        <td class="mdl-data-table__cell--non-numeric">Last Name</td>
        <td class="mdl-data-table__cell--non-numeric">
            <input type="text"
                   [(ngModel)]="user.lastName">
        </td>
    </tr>
    <tr>
        <td class="mdl-data-table__cell--non-numeric">Email</td>
        <td class="mdl-data-table__cell--non-numeric">
            <input type="email"
                   [(ngModel)]="user.email">
        </td>
    </tr>
    <tr *ngIf="!user._id">
        <td class="mdl-data-table__cell--non-numeric">Password</td>
        <td class="mdl-data-table__cell--non-numeric">
            <input type="password"
                   [(ngModel)]="user.password">
        </td>
    </tr>
    <tr>
        <td class="mdl-data-table__cell--non-numeric">User Rights</td>
        <td class="mdl-data-table__cell--non-numeric">
            <input type="number"
                   min="1"
                   max="3"
                   [(ngModel)]="user.userRights">
        </td>
    </tr>
    <tr>
        <td class="mdl-data-table__cell--non-numeric">Company</td>
        <td class="mdl-data-table__cell--non-numeric">
            <select [(ngModel)]="user.companyId">
                <option *ngFor="let company of companies"
                        [ngValue]="company._id">{{company.name}}</option>
            </select>
        </td>
    </tr>
    </tbody>
</table>
<button *ngIf="user._id"
        (click)="delete()"
        class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored delete">
    <i class="material-icons">delete</i>
</button>
<button (click)="save(user)"
        class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored save">
    <i class="material-icons">save</i>
</button>
