<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
    <thead>
    <tr>
        <th class="mdl-data-table__cell--non-numeric">Meal</th>
        <th class="mdl-data-table__cell--non-numeric">Food Entrepreneur</th>
        <th class="mdl-data-table__cell--non-numeric">Location</th>
        <th class="mdl-data-table__cell--non-numeric">Amount</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let order of orders"
        routerLink="./{{order._id}}"
        routerLinkActive="active">
        <td class="mdl-data-table__cell--non-numeric">{{mealsObject[order.mealId]?.name}}</td>
        <td class="mdl-data-table__cell--non-numeric">{{foodEntrepreneursObject[order.foodEntrepreneurId]?.name}}</td>
        <td class="mdl-data-table__cell--non-numeric">{{locationsObject[order.locationId]?.name}}</td>
        <td class="mdl-data-table__cell--non-numeric">{{order.amount}}</td>
    </tr>
    </tbody>
</table>
<button routerLink="./new"
        routerLinkActive="active"
        class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored save">
    <i class="material-icons">add</i>
</button>
