<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
    <thead>
    </thead>
    <tbody>
    <tr>
        <td class="mdl-data-table__cell--non-numeric">name</td>
        <td class="mdl-data-table__cell--non-numeric">
            <input type="text"
                   name="name"
                   [(ngModel)]="company.name">
        </td>
    </tr>
    <tr>
        <td class="mdl-data-table__cell--non-numeric">Instance</td>
        <td class="mdl-data-table__cell--non-numeric">
            <select [(ngModel)]="company.instanceId"
                    class="mdl-selectfield__select"
                    id="instancesSelect">
                <option *ngFor="let instance of instances"
                        [value]="instance._id">{{instance.name}}
                </option>
            </select>
        </td>
    </tr>
    </tbody>
</table>
<button (click)="save(company)"
        class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
    <i class="material-icons">save</i>
</button>
