<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
    <thead>
    <tr>
        <th class="mdl-data-table__cell--non-numeric">Name</th>
        <th class="mdl-data-table__cell--non-numeric">Price</th>
        <th class="mdl-data-table__cell--non-numeric">Companies</th>
        <th class="mdl-data-table__cell--non-numeric">Locations</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let instance of instances"
        routerLink="./{{instance._id}}"
        routerLinkActive="active">
        <td class="mdl-data-table__cell--non-numeric">{{instance.name}}</td>
        <td class="mdl-data-table__cell--non-numeric">€{{instance.price}}</td>
        <td class="mdl-data-table__cell--non-numeric">{{companiesObject[instance._id]}}</td>
        <td class="mdl-data-table__cell--non-numeric">{{locationsObject[instance._id]}}</td>
    </tr>
    </tbody>
</table>
<button routerLink="./new"
        routerLinkActive="active"
        class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored save">
    <i class="material-icons">add</i>
</button>
