@mixin transform($args...) {
    -webkit-transform: $args;
    -moz-transform: $args;
    -ms-transform: $args;
    -o-transform: $args;
    transform: $args;
}

@mixin layout() {
    width: 100%;

    table {
        width: 100%;

        input {
            float: left;
            width: 100%;
        }
    }

    .save {
        position: absolute;
        bottom: 50px;
        right: 50px;
    }

    .delete {
        position: absolute;
        bottom: 50px;
        right: 120px;
        background-color: lightcoral;
    }
}

@mixin input() {
    border: 0;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0;
    padding: 0;
    font-family: 'Roboto', 'Helvetica', sans-serif;
    background-color: transparent;
    outline: none;
}

@mixin border-radius($border) {
    -webkit-border-radius: $border;
    -moz-border-radius: $border;
    border-radius: $border;
}
