@mixin transform($args...) {
    -webkit-transform: $args;
    -moz-transform: $args;
    -ms-transform: $args;
    -o-transform: $args;
    transform: $args;
}

@mixin layout() {
    width: 100%;

    table {
        width: 100%;

        tbody {
            tr td {
                input {
                    float: left;
                    width: 100%;
                }
            }
        }
    }

    .save {
        position: fixed;
        bottom: 50px;
        right: 50px;
    }

    .delete {
        position: fixed;
        bottom: 50px;
        right: 120px;
        background-color: lightcoral;
    }

    .delete-image {
        position: absolute;
        background-color: lightcoral;
        right: 0;
    }
}

@mixin input() {
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0;
    border: none;
    padding: 5px;
    font-family: 'Roboto', 'Helvetica', sans-serif;
    outline: none;
}

@mixin textarea() {
    width: 100%;
    height: 200px;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 13px;
    font-weight: 400;
}

@mixin border-radius($border) {
    -webkit-border-radius: $border;
    -moz-border-radius: $border;
    border-radius: $border;
}

@mixin image-upload() {
    label {
        display: inline-block;
        @include border-radius(10px);
        padding: 10px 15px;
        text-transform: uppercase;
        background-color: #00BCD4;
        cursor: pointer;
    }

    input {
        display: none;
    }
}

@mixin image() {
    display: inline-block;
    figure {
        position: relative;
        margin: 0;
        height: 200px;
        img {
            height: 100%;
        }
    }
}
