<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
    <thead>
    </thead>
    <tbody>
    <tr>
        <td class="mdl-data-table__cell--non-numeric">Old Password</td>
        <td class="mdl-data-table__cell--non-numeric">
            <input type="password"
                   name="oldPassword"
                   [(ngModel)]="user.oldPassword">
        </td>
    </tr>
    <tr>
        <td class="mdl-data-table__cell--non-numeric">New Password</td>
        <td class="mdl-data-table__cell--non-numeric">
            <input type="password"
                   name="newPassword"
                   [(ngModel)]="user.newPassword">
        </td>
    </tr>
    </tbody>
</table>
<button (click)="save(user)"
        class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored save">
    <i class="material-icons">save</i>
</button>
